* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "RedditMono";
  src: url("RedditMono-Bold.ttf");
}

html {
  font-family: "RedditMono", serif;
}

input,
code,
nav,
button {
  font-family: inherit;
}

:root {
  --body-bg: #f3f3f3;
  --section-bg: #eee;
  --section-shadow: #a8a8a8;
}

button {
  border: none;
  background-color: transparent;
  padding: 2px;
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding-left: 20px;
}

body {
  position: relative;
  background-color: var(--body-bg);
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 10px;

  form#form-file {
    position: absolute;
    z-index: 999;
    width: 100vw;
    height: calc(70vh - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--section-bg);
    box-shadow: inset 0 5px 30px 5px var(--section-shadow);

    &.hidden {
      display: none;
    }

    label#drop-zone {
      user-select: none;
      border: 2px dashed black;
      width: 40%;
      height: 50%;
      padding: 10px;
      color: white;
      background-color: var(--section-shadow);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      border-radius: 10px;

      &>img {
        height: 100px;
      }

      &.shake {
        border: 2px dashed red;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  main {
    display: flex;
    gap: 10px;
    width: 100vw;
    height: 70vh;
    position: relative;
    padding: 0 10px;

    &>section {
      background-color: var(--section-bg);
      flex: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: inset -5px -5px 30px -5px var(--section-shadow);

      &>.nav {
        background-color: transparent;
        width: 98%;
        height: 40px;
        padding-top: 10px;
        padding-left: 5px;
        margin: 0 5px;
        display: flex;
        gap: 2px;
        overflow-x: auto;
        overflow-y: hidden;
        border-bottom: 2px solid var(--section-shadow);

        &::-webkit-scrollbar {
          display: none;
        }

        .tab {
          margin: 0;
          width: 150px;
          padding: 5px 15px;
          border-radius: 15px 15px 0 0;
          background-color: transparent;
          border: 2px solid var(--section-shadow);
          cursor: pointer;
          position: relative;
          top: 5px;
          display: flex;
          gap: 20px;
          justify-content: space-between;
          align-items: center;

          &.active {
            color: white;
            background-color: var(--section-shadow);
            top: 0;
          }

          .close {
            padding: 3px;
            cursor: pointer;
          }
        }
      }

      &>.input-content {
        width: 95%;

        &>pre {
          padding: 10px;
          margin: 0;

          code {
            font-size: large;
          }
        }
      }
    }

    section#input {}

    &>button {
      display: none;
      font-size: large;
      padding: 10px;
      border-radius: 20px;
      background-color: var(--section-bg);
      box-shadow: inset 0 0 10px 2px var(--section-shadow);
      position: absolute;

      &#submit {
        width: 110px;
        height: 60px;
        left: calc(50% - 55px);
        top: calc(50% - 30px);
      }

      &#download {
        width: 130px;
        height: 60px;
        left: calc(100vw - 160px);
        top: calc(70vh - 35px);
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(1);
      }

      &.active {
        display: block;
      }
    }

    section#output {}
  }

  form#console {
    background-color: var(--section-bg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 5px 5px 30px -5px var(--section-shadow);
    max-height: 30vh;
    min-height: 30vh;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &>#history {
      height: 80%;
      width: 95%;
      overflow-y: auto;
      scrollbar-width: thin;
      margin: 0;
      padding: 0;
      list-style: none;

      &>li.item {
        font-size: medium;
        padding: 25px;
        border-bottom: 2px solid var(--section-shadow);

        & table {
          border: 2px solid var(--section-shadow);
          margin-left: 20px;

          & thead {
            color: white;
            background-color: var(--section-shadow);
          }

          & th {
            border: 1px solid var(--section-shadow);
            text-align: center;
            padding: 5px 10px;
          }
        }
      }
    }

    &>input {
      margin: 0 20px 10px 20px;
      width: 95%;
      background-color: #f5f5f5;
      color: #242424;
      padding: .15rem .5rem;
      height: 20%;
      outline: none;
      border: none;
      border-radius: 5px;
      line-height: 1.15;
      box-shadow: 0px 5px 10px -1px var(--section-shadow);

      &:focus {
        box-shadow: 0px 5px 20px 1px var(--section-shadow);
      }

      &:hover {
        cursor: text;
      }
    }
  }
}

.hidden {
  display: none;
}

.error {
  color: white;
  background-color: red;
}

@keyframes aShake {
  50% {
    transform: translate3d(20px, 0, 0);
  }
}

.shake {
  animation: 200ms infinite alternate aShake;
}